langchain
langchain_openai
ipykernel
python-dotenv
langchain_community
pypdf
bs4
Arxiv
pymupdf
wikipedia
chromadb
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_chroma
streamlit
validators
youtube_transcript_api
langchain_groq
unstructured
huggingface_hub
cassio
datasets
tiktoken
openai
PyPDF2
gradio
pinecone-client
pinecone-text
pinecone-notebooks
langgraph
langsmith